# Parâmetros do banco de dados
POSTGRES_USER=psiconet_db
POSTGRES_PASSWORD=
POSTGRES_DB=psiconet

# Parâmtros da aplicação spring
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Parâmetros do pgadmin (caso local)
PGADMIN_EMAIL=admin@local.com
PGADMIN_PASSWORD=

# Parâmetros JWT
APP_JWT_SECRET=xG86yDgMWnOOMF9D21kci1IU8bcGi6W7Ij5kdq7kaiO
APP_JWT_EXPIRATION_MS=3600000