# --- Build & Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# --- IDEs (VS Code, IntelliJ, Eclipse) ---
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
.factorypath

# --- Environment Variables (Segurança) ---
.env
.env.local
.env.*
!.env.example

# --- Docker ---
docker-compose.override.yml
.docker/

# --- Logs & OS ---
*.log
.DS_Store
Thumbs.db

# --- Java Crash Logs ---
hs_err_pid*